.cart {
    background-color: var(--white);
    z-index: 999;
    width: 28.5rem;
    height: 100vh;

    .cartHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        margin: 2rem 0;

        h1 {
            font-size: 2rem;
        }

        span {
            color: var(--red);
            font-family: 'Architects Daughter', cursive;
            font-size: 1.4rem;
        }
    }

    .cartItem {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        padding: 0 1rem;

        img {
            width: 6rem;
            height: 6rem;
        }

        .content {
            margin-left: 1rem;
            width: 100%;

            .contentHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                span {
                    color: var(--red);
                    font-size: 1.5rem;
                }
            }

            .contentFooter {
                display: flex;
                align-items: center;
                margin-top: 0.3rem;

                span {
                    color: var(--black);
                    cursor: pointer;
                    font-size: 1.5rem;
                }

                .quantity {
                    color: var(--red);
                    cursor: auto;
                    text-align: center;
                    margin: 0 1rem;
                    width: 2rem;
                }
            }
        }
    }
}

@media(max-width: 1600px) {
    .cart {
        display: none;
    }
}