.cart {
    background-color: var(--white);
    z-index: 999;
    width: 28.5rem;
    height: 100vh;

    .cartHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        margin: 2rem 0;

        h1 {
            font-size: 2rem;
        }

        span {
            color: var(--red);
            font-family: 'Architects Daughter', cursive;
            font-size: 1.4rem;
        }
    }

    .cartItem {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        padding: 0 2rem 0 1rem;

        img {
            width: 6rem;
            height: 6rem;
        }

        .content {
            margin-left: 1rem;
            width: 100%;

            .contentHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .deleteButton {
                    border: 1px solid var(--red);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: 250ms;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 0.5rem;

                    &:hover {
                        background-color: var(--red);
                    }

                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }

            .footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: .75rem;

                .contentFooter {
                    display: flex;
                    align-items: center;
                    margin-top: 0.3rem;
    
                    span {
                        color: var(--black);
                        cursor: pointer;
                        font-size: 1.5rem;
                    }
    
                    .quantity {
                        color: var(--red);
                        cursor: auto;
                        text-align: center;
                        margin: 0 1rem;
                        width: 2rem;
                    }
                }

                .price {
                    color: var(--red);
                    font-size: 1.3rem;
                }
            }

            
        }
    }

    .cartFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        padding: 0 2rem;

        h2 {
            color: var(--red);
        }

        .button {
            background-color: var(--red);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 250ms;
            height: 3.5rem;
            width: 11rem;
            border-radius: 0.5rem;
            
            &:hover {
                filter: brightness(0.9);
            }

            span {
                color: var(--white);
                font-size: 1.3rem;
            }
        }
    }
}

@media(max-width: 1600px) {
    .cart {
        display: none;
    }
}