.container {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/images/pizza-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;

    .content {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;

        h2 {
            color: var(--yellow);
            font-family: 'Architects Daughter', cursive;
            font-size: 2.2rem;
        }

        h1 {
            color: var(--white);
            text-align: center;
            width: 80%;
            line-height: 5.5rem;
            font-size: 5rem;
            margin-top: 1rem;
        }

        .button {
            background-color: var(--yellow);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13rem;
            height: 3.5rem;
            border-radius: 2rem;
            margin-top: 2rem;
            transition: 200ms;

            &:hover {
                filter: brightness(0.8);
            }

            span {
                color: var(--white);
                font-size: 1.2rem;
            }
        }
    }

    .bounce {
        background-color: var(--yellow);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        animation-name: bounceInDown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        z-index: 19;
        position: absolute;
        top: calc(100vh - 10rem);
        right: 10%;
        width: 5rem;
        height: 5rem;
        border-radius: 4rem;

        span {
            color: var(--white);
            font-size: 4rem;
        }
    }
}

@media (max-width: 680px) {
    .container {
        .content {
            h2 {
                font-size: 1.5rem;
            }

            h1 {
                font-size: 3rem;
                line-height: 3.5rem;
            }
        }
    }
}

@media (min-width: 681px) and (max-width: 999px) {
    .container {
        .content {
            h2 {
                font-size: 2rem;
            }

            h1 {
                font-size: 4rem;
                line-height: 4.5rem;
            }
        }
    }
}

@keyframes bounceInDown {
    0% {
       transform: translateY(0);
    }
    100% {
       transform: translateY(1rem);
    }
 }