.container {
    background-color: var(--gray-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;

    h2 {
        color: var(--green);
        font-family: 'Architects Daughter', cursive;
    }

    h1 {
        font-size: 4rem;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        margin-top: 3rem;

        .item {
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30rem;
            height: 45rem;
            margin-left: 5rem;
            border-radius: 1rem;

            img {
                width: 30rem;
                height: 20rem;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }

            .date {
                background-color: var(--green);
                padding: 0.2rem 1rem;
                border-radius: 0.2rem;
                margin-top: 5rem;

                span {
                    color: var(--white);
                }
            }

            h1 {
                text-align: center;
                line-height: 2.5rem;
                font-size: 2rem;
                margin-top: 2rem;
                width: 80%;
                height: 3rem;
            }

            .readMore {
                color: var(--green);
                cursor: pointer;
                transition: 250ms;
                font-size: 1.5rem;
                margin-top: 5rem;

                &:hover {
                    filter: brightness(0.7);
                }
            }
        }
    }
}