.container {
    background-color: var(--gray-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;

    h2 {
        color: var(--green);
        font-family: 'Architects Daughter', cursive;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        margin-top: 3rem;

        .item {
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25rem;
            height: 45rem;
            margin-left: 1rem;
            border-radius: 1rem;

            img {
                object-fit: cover;
                width: 25rem;
                height: 20rem;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }

            .date {
                background-color: var(--green);
                padding: 0.2rem 1rem;
                border-radius: 0.2rem;
                margin-top: 5rem;

                span {
                    color: var(--white);
                }
            }

            h1 {
                text-align: center;
                line-height: 2.5rem;
                font-size: 2rem;
                margin-top: 2rem;
                width: 80%;
                height: 3rem;
            }

            .readMore {
                color: var(--green);
                cursor: pointer;
                transition: 250ms;
                font-size: 1.5rem;
                margin: auto 0 1rem 0;

                &:hover {
                    filter: brightness(0.7);
                }
            }
        }
    }
}
 
@media (max-width: 1050px) {
    .container {
        h1 {
            font-size: 3rem;
        }

        section {
            grid-template-columns: 1fr;
            justify-content: center;
            margin-top: 0;
            width: 90%;

            .item {
                margin-left: 0;
                width: 100%;
                height: 35rem;
                margin-top: 2rem;
                padding-bottom: 2rem;

                img {
                    object-fit: cover;
                    height: 15rem;
                    width: 100%;
                }

                .date {
                    margin-top: 1rem;
                }

                .readMore {
                    margin-top: auto;
                }

            }
        }
    }
}

@media (min-width: 1051px) and (max-width: 1700px) {
    .container {
        section {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .item {
                margin: 1rem;
            }
        }
    }
}