.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;

        .header {
            display: flex;
            align-items: center;
    
            div {
                height: 0.025rem;
                width: 4rem;
                background-color: var(--gray-500);
            }
    
            img {
                margin: 0 1rem;
            }
        }
    
        h1 {
            margin-top: 1rem;
        }

        .buttons {
            background-color: var(--gray-100);
            display: flex;
            align-items: center;
            height: 3rem;
            border-radius: 2rem;
            margin-top: 3rem;
    
            div {
                background-color: var(--gray-100);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 250ms;
                width: 6rem;
                height: 3rem;
                border-radius: 2rem;
    
                &:hover {
                    filter: brightness(0.9);
                }
            }
        }

        p {
            color: var(--gray-200);
            text-align: center;
            font-weight: 500;
            font-size: 1.2rem;
            width: 75%;
            margin-top: 3rem;
        }

        .readMore {
            color: var(--red);
            cursor: pointer;
            transition: 250ms;
            margin-top: 2rem;
            font-size: 1.5rem;

            &:hover {
                filter: brightness(0.7);
            }
        }
    }

    .pizzaImg {
        width: 45rem;
        height: 35rem;
        border-radius: 1rem;
    }
}

@media(max-width: 1250px) {
    .container {
        flex-direction: column;

        .content {
            width: 80%;

            .buttons {
                div {
                    width: 5rem;
                }
            }

            p {
                width: 100%;
            }
        }

        .pizzaImg {
            object-fit: cover;
            width: 80%;
            height: 20rem;
            margin-top: 2rem;
        }

    }
}