.container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;

    .modal {
        background-color: var(--white);
        animation-name: showModalFromTopToBottom;
        animation-fill-mode: forwards;
        animation-duration: 500ms;
        position: relative;
        width: 60%;
        height: 90vh;
        border-radius: 1rem;

        .closeModal {
            background-color: var(--black-100);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999999;
            cursor: pointer;
            position: absolute;
            top: 1rem;
            right: 1rem;
            transition: 250ms;
            width: 2rem;
            height: 2rem;
            border-radius: 1rem;

            &:hover {
                filter: brightness(0.5);
            }
            
            span {
                color: var(--white);
                font-family: 'Architects Daughter', cursive;
                font-size: 1.2rem;
            }
        }

        section {
            background-color: var(--red);
            position: absolute;
            z-index: 9999;
            transition: 500ms;
            width: 60%;
            height: 100%;
        }

        .dividerShowLogin {
            right: 0;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        .dividerShowSignUp {
            right: 40%;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }

        .defaultForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 40%;
            height: 100%;

            h1 {
                color: var(--black);
                text-align: center;
                font-size: 2.5rem;
                line-height: 2.7rem;
                width: 90%;
            }

            .otherAuth {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2rem;

                div {
                    background-color: var(--gray-50);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: 250ms;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 0.5rem;
                    margin-left: 1.5rem;

                    &:hover {
                        filter: brightness(0.9);
                    }
                }
            }

            .lineText {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                div {
                    background-color: var(--gray-100);
                    width: 5rem;
                    height: 0.1rem;
                }

                span {
                    color: var(--red);
                    text-align: center;
                    font-size: 1.2rem;
                    margin: 0 1rem;
                }
            }

            .errorMsg {
                background-color: var(--red);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                border-radius: 0.5rem;
                padding: 0 1rem;
                z-index: 999;

                span {
                    color: var(--white);
                }
            }

            .inputArea {
                display: flex;
                flex-direction: column;
                width: 60%;
                margin-top: 1rem;

                label {
                    color: var(--black);
                    font-weight: bold;
                    font-size: 1.1rem;
                }

                input {
                    background-color: #efefef;
                    color: var(--black);
                    outline: 0;
                    border: 0;
                    padding-left: 1rem;
                    height: 3.5rem;
                    margin-top: 0.5rem;
                    border-radius: 0.5rem;
                    font-size: 1.2rem;
    
                    &::placeholder {
                        color: var(--gray-200);
                    }
                }
            }
            
            .submit {
                background-color: var(--red);
                color: var(--white);
                cursor: pointer;
                outline: 0;
                border: 0;
                transition: 250ms;
                width: 60%;
                height: 3.5rem;
                border-radius: 0.5rem;
                margin-top: 1rem;
                font-size: 1.2rem;

                &:hover {
                    filter: brightness(0.9);
                }
            }

            .changeForm {
                color: var(--red);
                cursor: pointer;
                transition: 250ms;
                font-size: 1.2rem;
                margin-top: 1.5rem;

                &:hover {
                    filter: brightness(0.7);
                }
            }
        }
    }
}


@media(max-width: 900px) {
    .container {
        .modal {
            width: 90%;

            section {
                display: none;
            }

            .defaultForm {
                width: 100%;

                h1 {
                    text-align: center;
                    font-size: 2rem;
                    line-height: 2.2rem;
                }

                span {
                    text-align: center;
                }

                .inputArea {
                    width: 90%;
                }

                .submit {
                    width: 90%;
                }

                .changeForm {
                    display: none;
                }
            }

            .hideOnSmallDevices {
                display: none;
            }
        }
    }
}

@media (min-width: 901px) and (max-width: 1650px) {
    .container {
        .modal {
            width: 90%;

            .defaultForm {
                .inputArea {
                    width: 80%;
                }

                .submit {
                    width: 80%;
                }
            }
        }
    }
}

@media (min-width: 1651px) and (max-width: 1900px) {
    .container {
        .modal {
            .defaultForm {
                .inputArea {
                    width: 80%;
                }

                .submit {
                    width: 80%;
                }
            }
        }
    }
}

@keyframes showModalFromTopToBottom {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}