.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;

    img {
        object-fit: cover;
        width: 20rem;
        height: 30rem;
        border-radius: 0.5rem;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5rem;
        width: 30%;

        h2 {
            color: var(--red);
            font-family: 'Architects Daughter', cursive;
            font-size: 1.5rem;
        }

        p {
            font-weight: 400;
            width: 70%;
            margin-top: 2rem;
        }

        div {
            display: flex;
            align-items: center;
            margin-top: 2rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }

            span {
                color: var(--red);
                font-size: 1.2rem;
                margin-left: 1rem;
            }
        }

    }
}