.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;

    .imgArea {
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            object-fit: cover;
            width: 20rem;
            height: 30rem;
            border-radius: 0.5rem;
            margin: 0 1rem;
        }
    }

    section {
        justify-content: center;
        margin-left: 3rem;
        width: 30%;

        .sectionHeader {
            display: flex;
            flex-direction: column;

            h2 {
                color: var(--red);
                font-family: 'Architects Daughter', cursive;
                font-size: 1.5rem;
            }
    
            p {
                font-weight: 400;
                font-size: 1.2rem;
                width: 70%;
                margin-top: 1.5rem;
            }
        }

        .sectionInfo {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;
                margin-top: 2rem;
    
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
    
                span {
                    color: var(--red);
                    font-size: 1.2rem;
                    margin-left: 1rem;
                }
            }
        }

    }
}

@media (max-width: 1100px) {
    .container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 5rem 0;

        .imgArea {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            width: 100%;

            img {
                width: 80%;
                height: 15rem;
                margin-top: 2rem;
            }
        }

        section {
            width: 80%;

            .sectionHeader {
                align-items: center;

                p {
                    text-align: center;
                }
            }
            
            .sectionInfo {
                align-items: center;
            }
        }
    }
}