.header {
    background-color: var(--black-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 5rem;
    padding: 0 10%;
    
    nav {

        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                margin-left: 3rem;
                font-size: 1.3rem;
                transition: 200ms;

                &:hover {
                    color: var((--yellow));
                }

                img {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }
}